<h3><%= @flat.name %></h3>
<p><%= @flat.address %></p>
<p><%= @flat.description %></p>
<h4>Guests: <%= @flat.number_of_guests %></h4>
<h4>Price per night: <%= @flat.price_per_night %></h4>
<%= link_to "home", flats_path %>
